@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
@charset "UTF-8";
@font-face {
  font-family: Druk Wide Medium;
  font-display: swap;
  src: url("../fonts/Druk Wide Medium.woff2") format("woff2"), url("../fonts/Druk Wide Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-Polygon1:before {
  content: "\e900";
}

._icon-Vector15:before {
  content: "\e901";
}

._icon-Vector14:before {
  content: "\e902";
}

._icon-Vector13:before {
  content: "\e903";
}

._icon-Vector12:before {
  content: "\e904";
}

._icon-Vector11:before {
  content: "\e905";
}

._icon-Vector10:before {
  content: "\e906";
}

._icon-Vector9:before {
  content: "\e907";
}

._icon-Vector8:before {
  content: "\e908";
}

._icon-Vector7:before {
  content: "\e909";
}

._icon-Vector6:before {
  content: "\e90a";
}

._icon-Vector5:before {
  content: "\e90b";
}

._icon-Vector4:before {
  content: "\e90c";
}

._icon-Vector3:before {
  content: "\e90d";
}

._icon-Vector2:before {
  content: "\e90e";
}

._icon-Vector1:before {
  content: "\e90f";
}

._icon-Vector:before {
  content: "\e910";
}

._icon-Polygon:before {
  content: "\e911";
}

._icon-logo:before {
  content: "\e912";
}

._icon-riot-games:before {
  content: "\e913";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1F2326;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 120rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  background-color: #1F2326;
  color: #fff;
  z-index: 50;
}
@media (min-width: 121.875em) {
  .header {
    height: 8.25rem;
  }
}
@media (min-width: 20em) and (max-width: 121.875em) {
  .header {
    height: clamp( 5rem , 4.3619631902rem  +  3.1901840491vw , 8.25rem );
  }
}
@media (max-width: 20em) {
  .header {
    height: 5rem;
  }
}
.header__container {
  display: flex;
  padding: 2.75rem 0.9375rem;
  align-items: center;
}
@media (min-width: 121.875em) {
  .header__container {
    padding-top: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 121.875em) {
  .header__container {
    padding-top: clamp( 1.25rem , 0.9555214724rem  +  1.472392638vw , 2.75rem );
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-top: 1.25rem;
  }
}
@media (min-width: 121.875em) {
  .header__container {
    padding-bottom: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 121.875em) {
  .header__container {
    padding-bottom: clamp( 1.25rem , 0.9555214724rem  +  1.472392638vw , 2.75rem );
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 100em) {
  .header__container {
    padding: 2.75rem 4.5625rem;
  }
}
.header__logo {
  display: flex;
  gap: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 120em) {
  .header__logo {
    gap: 3.75rem;
  }
}
@media (min-width: 89.375em) and (max-width: 120em) {
  .header__logo {
    gap: clamp( 0.9375rem , -7.2704081633rem  +  9.1836734694vw , 3.75rem );
  }
}
@media (min-width: 120em) {
  .header__logo {
    margin-right: 5.375rem;
  }
}
@media (min-width: 89.375em) and (max-width: 120em) {
  .header__logo {
    margin-right: clamp( 1.875rem , -8.3392857143rem  +  11.4285714286vw , 5.375rem );
  }
}
@media (max-width: 76.25em) {
  .header__logo {
    margin-right: 0;
  }
}
.header__logo-line {
  width: 0.125rem;
  height: 2.5rem;
  background-color: #fff;
}
@media (max-width: 80.6875em) {
  .header__logo-line {
    display: none;
  }
}
.header__logo-icon_1 {
  font-size: 2.5rem;
  position: relative;
}
.header__logo-icon_2 {
  font-size: 2.5rem;
}
@media (max-width: 80.6875em) {
  .header__logo-icon_2 {
    display: none;
  }
}
.menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 76.25em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
    background-color: #1F2326;
    transition: all 0.3s ease 0s;
    z-index: 4;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s ease 0s;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: flex;
}
@media (min-width: 121.875em) {
  .menu__list {
    gap: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 121.875em) {
  .menu__list {
    gap: clamp( 0.9375rem , 0.5080521472rem  +  2.1472392638vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .menu__list {
    gap: 0.9375rem;
  }
}
@media (max-width: 76.25em) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
.menu__link {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2142857143;
  transition: color 0.3s ease 0s;
}
@media (max-width: 76.25em) {
  .menu__link {
    font-size: 2.25rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #FF4656;
  }
}
.account-menu {
  display: flex;
  gap: 0.9375rem;
}
@media (max-width: 76.25em) {
  .account-menu {
    margin-right: 0.9375rem;
  }
}
.account-menu__user {
  max-width: 2.5rem;
}
.account-menu__user img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account-menu__btn {
  cursor: pointer !important;
  user-select: none;
  display: flex;
  gap: 0.9375rem;
  align-items: center;
  position: relative;
  cursor: default;
}
.account-menu__btn._active .account-menu__name {
  color: #FF4656;
}
.account-menu__btn._active .account-menu__body {
  visibility: visible;
  pointer-events: all;
  z-index: 2;
  top: 2.5rem;
  right: -1.25rem;
  opacity: 1;
}
.account-menu__name .account-menu__btn._active {
  color: #FF4656;
}
.account-menu__btn._active .account-menu__icon-arrow {
  transform: rotate(90deg);
}
.account-menu__name {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-weight: 700;
}
.account-menu__icon-arrow {
  transition: transform 0.3s ease 0s;
  font-size: 0.375rem;
}
.account-menu__body {
  cursor: default;
  transition: opacity, top, visibility 0.3s ease 0s;
  opacity: 0;
  position: absolute;
  top: 3.75rem;
  right: -1.25rem;
  pointer-events: none;
  visibility: hidden;
}
.account-menu__body:not(hover) {
  transition: all 0.3s ease 0s;
}
.account-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  background-color: #1F2326;
  padding: 1.875rem;
}
.account-menu__link {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-weight: 700;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .account-menu__link:hover {
    color: #FF4656;
  }
}

@media (max-width: 76.25em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.40625rem;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.block-main {
  background: url(../img/main/bg.png), url(../img/main/elements.png) 0 0/cover no-repeat, #FF4656;
}
@media (min-width: 121.875em) {
  .block-main {
    padding-top: 7.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 121.875em) {
  .block-main {
    padding-top: clamp( 3.75rem , 3.0996932515rem  +  3.2515337423vw , 7.0625rem );
  }
}
@media (max-width: 20em) {
  .block-main {
    padding-top: 3.75rem;
  }
}
@media (min-width: 121.875em) {
  .block-main {
    padding-bottom: 7.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 121.875em) {
  .block-main {
    padding-bottom: clamp( 3.75rem , 3.0996932515rem  +  3.2515337423vw , 7.0625rem );
  }
}
@media (max-width: 20em) {
  .block-main {
    padding-bottom: 3.75rem;
  }
}
.block-main__container {
  position: relative;
}
.block-main__slider {
  position: relative;
  z-index: 3;
  max-width: 100rem;
  padding-right: 0.9375rem;
}
@media (min-width: 121.875em) {
  .block-main__slider {
    padding-bottom: 7.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 121.875em) {
  .block-main__slider {
    padding-bottom: clamp( 3.75rem , 3.0996932515rem  +  3.2515337423vw , 7.0625rem );
  }
}
@media (max-width: 20em) {
  .block-main__slider {
    padding-bottom: 3.75rem;
  }
}
.block-main__slide.swiper-slide-thumb-active .slide-block-main__content {
  background-color: #fff;
}
.block-main__slide.swiper-slide-thumb-active .slide-block-main__skills {
  background-color: #fff;
  border: 2px solid #1F2326;
}
.block-main__slide.swiper-slide-thumb-active .slide-block-main__slill-icon {
  color: #1F2326;
}
.block-main__slide.swiper-slide-thumb-active .slide-block-main__name {
  color: #1F2326;
}
.block-main__text-decor {
  z-index: 1;
  transition: all 1s ease 0s;
  opacity: 0;
}
@media (min-width: 100em) {
  .block-main__text-decor {
    position: absolute;
    font-weight: 700;
    top: 32.5rem;
    right: -11.5rem;
    font-size: 9.75rem;
    line-height: 1.3076923077;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
  }
}
@media (max-width: 100em) {
  .block-main__text-decor {
    display: none;
  }
}
.block-main__text-decor._active {
  opacity: 1;
  transform: translate(0, 0), rotate(90deg);
}

.slide-block-main {
  position: relative;
}
.slide-block-main__content {
  transition: all 0.3s ease 0s;
  overflow: hidden;
  max-width: 27.5rem;
  max-height: 61.875rem;
  height: 100%;
  position: relative;
  border: 2px solid #1F2326;
  background-color: #1F2326;
  z-index: 1;
}
.slide-block-main__img {
  max-width: 27.5rem;
  max-height: 61.875rem;
}
.slide-block-main__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-block-main__name {
  position: absolute;
  transform: rotate(90deg);
  color: #fff;
  font-size: 4.5rem;
  line-height: 1.3055555556;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.slide-block-main__name_1 {
  top: 12.5rem;
  left: -8.125rem;
}
.slide-block-main__name_2 {
  top: 7.5rem;
  left: -1.25rem;
}
.slide-block-main__name_3 {
  top: 7.5rem;
  left: -1.25rem;
}
.slide-block-main__name_4 {
  top: 7.5rem;
  left: -1.25rem;
}
.slide-block-main__country {
  position: absolute;
  transform: rotate(90deg);
  color: #FF4656;
  font-size: 1.5rem;
  line-height: 0.7741935484;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.slide-block-main__country_1 {
  top: 34.375rem;
  left: -5rem;
}
.slide-block-main__country_2 {
  top: 25rem;
  left: -3.125rem;
}
.slide-block-main__country_3 {
  top: 19.5625rem;
  left: -1.25rem;
}
.slide-block-main__country_4 {
  top: 19.5625rem;
  left: -0.625rem;
}
.slide-block-main__skills {
  transition: all 0.3s ease 0s;
  background-color: #1F2326;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  padding: 1.1875rem 1.25rem;
  border: 2px solid #F8F8F8;
  max-width: 27.5rem;
  max-height: 6.875rem;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  bottom: -1.875rem;
  right: -0.9375rem;
}
@media (max-width: 47.99875em) {
  .slide-block-main__skills {
    padding: 0.9375rem;
  }
}
.slide-block-main__slill-icon {
  color: #fff;
}
.slide-block-main__slill-icon_1 {
  font-size: 4.5rem;
}
@media (max-width: 47.99875em) and (min-width: 121.875em) {
  .slide-block-main__slill-icon_1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 121.875em) {
  .slide-block-main__slill-icon_1 {
    font-size: clamp( 2.8125rem , 2.4812116564rem  +  1.6564417178vw , 4.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slide-block-main__slill-icon_1 {
    font-size: 2.8125rem;
  }
}
.slide-block-main__slill-icon_2 {
  font-size: 4.0625rem;
}
@media (max-width: 47.99875em) and (min-width: 121.875em) {
  .slide-block-main__slill-icon_2 {
    font-size: 4.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 121.875em) {
  .slide-block-main__slill-icon_2 {
    font-size: clamp( 2.8125rem , 2.4812116564rem  +  1.6564417178vw , 4.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slide-block-main__slill-icon_2 {
    font-size: 2.8125rem;
  }
}
.slide-block-main__slill-icon_3 {
  font-size: 4.3125rem;
}
@media (max-width: 47.99875em) and (min-width: 121.875em) {
  .slide-block-main__slill-icon_3 {
    font-size: 4.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 121.875em) {
  .slide-block-main__slill-icon_3 {
    font-size: clamp( 2.8125rem , 2.4812116564rem  +  1.6564417178vw , 4.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slide-block-main__slill-icon_3 {
    font-size: 2.8125rem;
  }
}
.slide-block-main__slill-icon_4 {
  font-size: 3.5625rem;
}
@media (max-width: 47.99875em) and (min-width: 121.875em) {
  .slide-block-main__slill-icon_4 {
    font-size: 4.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 121.875em) {
  .slide-block-main__slill-icon_4 {
    font-size: clamp( 2.8125rem , 2.4812116564rem  +  1.6564417178vw , 4.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slide-block-main__slill-icon_4 {
    font-size: 2.8125rem;
  }
}
.slide-block-main__slill-icon_5 {
  font-size: 3.6875rem;
}
.slide-block-main__slill-icon_6 {
  font-size: 3.5625rem;
}
.slide-block-main__slill-icon_7 {
  font-size: 2.8125rem;
}
.slide-block-main__slill-icon_8 {
  font-size: 3.625rem;
}
.slide-block-main__slill-icon_9 {
  font-size: 3.625rem;
}
.slide-block-main__slill-icon_10 {
  font-size: 1.4375rem;
}
.slide-block-main__slill-icon_11 {
  font-size: 3.3125rem;
}
.slide-block-main__slill-icon_12 {
  font-size: 3.4375rem;
}
.slide-block-main__slill-icon_13 {
  font-size: 3.125rem;
}
.slide-block-main__slill-icon_14 {
  font-size: 4.375rem;
}
.slide-block-main__slill-icon_15 {
  font-size: 3.3125rem;
}
.slide-block-main__slill-icon_16 {
  font-size: 2.875rem;
}

.slider-2-block-main_title {
  font-size: 2.5rem;
  line-height: 1.3;
  color: #C4C4C4;
  font-weight: 500;
  text-transform: uppercase;
}
.slider-2-block-main_title:not(:last-child) {
  margin-bottom: 2rem;
}
.slider-2-block-main__body {
  display: flex;
}
@media (min-width: 120em) {
  .slider-2-block-main__body {
    gap: 5rem;
  }
}
@media (min-width: 62em) and (max-width: 120em) {
  .slider-2-block-main__body {
    gap: clamp( 0.9375rem , -3.4051724138rem  +  7.0043103448vw , 5rem );
  }
}
@media (max-width: 61.99875em) {
  .slider-2-block-main__body {
    flex-direction: column;
    gap: 1.875rem;
    align-items: center;
  }
}
.slider-2-block-main__item {
  max-width: 45.25rem;
  width: 100%;
  padding: 1.9375rem 1.875rem;
  background-color: #fff;
  border: 2px solid #000000;
  position: relative;
}
.slider-2-block-main__item::before {
  content: "";
  position: absolute;
  width: 5.9375rem;
  height: 11.25rem;
  bottom: 0;
  right: 3.75rem;
  background-color: #FF4656;
}
.slider-2-block-main__sub-title {
  font-size: 1.5rem;
  line-height: 1.2916666667;
  color: #000;
  position: relative;
  z-index: 2;
}
.slider-2-block-main__sub-title:not(:last-child) {
  margin-bottom: 2rem;
}
.slider-2-block-main__text {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.1em;
  color: #1F2326;
  max-width: 17.5rem;
  position: relative;
  position: relative;
  z-index: 2;
}
.slider-2-block-main__play {
  max-width: 13.6875rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #000000;
}
@media (max-width: 61.99875em) {
  .slider-2-block-main__play {
    min-height: 18.3125rem;
  }
}
.slider-2-block-main__icon {
  position: absolute;
  color: #1F2326;
  z-index: 1;
}
.slider-2-block-main__icon_1 {
  top: 6.25rem;
  right: 0.9375rem;
  font-size: 6.25rem;
}
@media (max-width: 47.99875em) and (min-width: 121.875em) {
  .slider-2-block-main__icon_1 {
    font-size: 7.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 121.875em) {
  .slider-2-block-main__icon_1 {
    font-size: clamp( 3.75rem , 3.013803681rem  +  3.6809815951vw , 7.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slider-2-block-main__icon_1 {
    font-size: 3.75rem;
  }
}
.slider-2-block-main__icon_2 {
  top: 6.25rem;
  right: 0.9375rem;
  font-size: 7.5rem;
}
@media (max-width: 47.99875em) and (min-width: 121.875em) {
  .slider-2-block-main__icon_2 {
    font-size: 7.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 121.875em) {
  .slider-2-block-main__icon_2 {
    font-size: clamp( 3.75rem , 3.013803681rem  +  3.6809815951vw , 7.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slider-2-block-main__icon_2 {
    font-size: 3.75rem;
  }
}
.slider-2-block-main__icon_3 {
  top: 6.25rem;
  right: 0.9375rem;
  font-size: 7.5rem;
}
@media (max-width: 47.99875em) and (min-width: 121.875em) {
  .slider-2-block-main__icon_3 {
    font-size: 7.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 121.875em) {
  .slider-2-block-main__icon_3 {
    font-size: clamp( 3.75rem , 3.013803681rem  +  3.6809815951vw , 7.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slider-2-block-main__icon_3 {
    font-size: 3.75rem;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
